<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Register</title>

        <meta name="description" content="utopian.io/@dogancankilment">
        <meta name="author" content="utopian.io/@dogancankilment">
        <meta name="robots" content="noindex, nofollow">

        <meta property="og:title" content="utopian.io/@dogancankilment">
        <meta property="og:site_name" content="utopian.io/@dogancankilment">
        <meta property="og:description" content="utopian.io/@dogancankilment">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="shortcut icon" href="{{STATIC_URL}}media/index.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{STATIC_URL}}static/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}static/img/favicons/apple-touch-icon-180x180.png">

        <link rel="stylesheet" id="css-main" href="{{STATIC_URL}}static/css/codebase.min.css">

    </head>
    <body>
        <div id="page-container" class="main-content-boxed">
            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="bg-gd-emerald">
                    <div class="hero-static content content-full bg-white invisible" data-toggle="appear">
                        <!-- Header -->
                        <div class="py-30 px-5 text-center">
                            <a class="link-effect font-w700" href="/">
                                <span class="font-size-xl text-primary-dark">Motorc</span><span class="font-size-xl">U</span>
                            </a>
                            <h1 class="h2 font-w700 mt-50 mb-10">Create New Account</h1>
                            <h2 class="h4 font-w400 text-muted mb-0">Please add your details</h2>
                        </div>
                        <!-- END Header -->

                        <!-- Sign Up Form -->
                        <div class="row justify-content-center px-5">
                            <div class="col-sm-8 col-md-6 col-xl-4">

                                <form method="POST" class="form-signin" role="form">

                                    {% for field in form %}
                                        <input type="{{field.field.widget.input_type}}" name="{{field.html_name}}" class="form-control" placeholder="{{field.label}}" required autofocus>
                                        <br/>
                                    {% endfor %}
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

                                    <div class="form-group text-center m-t-10">
                                        <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Sign in</button>
                                    </div>

                                    {% if form.errors %}
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div class="alert alert-error">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endfor %}

                                      <!--diffrent version-->

                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-error">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <!--<div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">-->
            <!--<div class="modal-dialog modal-lg modal-dialog-slidedown" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="block block-themed block-transparent mb-0">-->
                        <!--<div class="block-header bg-primary-dark">-->
                            <!--<h3 class="block-title">Terms &amp; Conditions</h3>-->
                            <!--<div class="block-options">-->
                                <!--<button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">-->
                                    <!--<i class="si si-close"></i>-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="block-content">-->
                            <!--<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>-->
                            <!--<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>-->
                            <!--<p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-alt-success" data-dismiss="modal">-->
                            <!--<i class="fa fa-check"></i> Perfect-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <script src="{{STATIC_URL}}static/js/core/jquery.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/popper.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.slimscroll.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.scrollLock.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.appear.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.countTo.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/js.cookie.min.js"></script>
        <script src="{{STATIC_URL}}static/js/codebase.js"></script>

        <script src="{{STATIC_URL}}static/js/plugins/jquery-validation/jquery.validate.min.js"></script>

        <script src="{{STATIC_URL}}static/js/pages/op_auth_signup.js"></script>
    </body>
</html>