<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Motorcu</title>

        <meta name="description" content="utopian.io/@dogancankilment">
        <meta name="author" content="utopian.io/@dogancankilment">
        <meta name="robots" content="noindex, nofollow">

        <meta property="og:title" content="utopian.io/@dogancankilment">
        <meta property="og:site_name" content="utopian.io/@dogancankilment">
        <meta property="og:description" content="utopian.io/@dogancankilment">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="shortcut icon" href="media/index.png">
        <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">

        <link rel="stylesheet" id="css-main" href="css/codebase.min.css">

    </head>
    <body>
        <div id="page-container" class="main-content-boxed">
            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="bg-image" style="background-image: url('assets/img/photos/photo2@2x.jpg');">
                    <div class="hero-static content content-full bg-white-op-90 invisible" data-toggle="appear" data-class="animated fadeIn">
                        <!-- Avatar -->
                        <div class="py-30 px-5 text-center">
                            <a class="link-effect text-pulse font-w700" href="index.html">
                                <i class="si si-fire"></i>
                                <span class="font-size-xl text-pulse-dark">code</span><span class="font-size-xl">base</span>
                            </a>
                            <h1 class="h2 font-w700 mt-50 mb-10">Welcome back, Admin</h1>
                            <h2 class="h4 font-w400 text-muted mb-30">Please enter your password</h2>
                            <img class="img-avatar img-avatar96" src="assets/img/avatars/avatar15.jpg" alt="">
                        </div>
                        <!-- END Avatar -->

                        <!-- Unlock Content -->
                        <div class="row justify-content-center px-5">
                            <div class="col-sm-8 col-md-6 col-xl-4">
                                <!-- jQuery Validation (.js-validation-lock class is initialized in js/pages/op_auth_lock.js) -->
                                <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                                <form class="js-validation-lock" action="be_pages_auth_all.html" method="post">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div class="form-material floating">
                                                <input type="password" class="form-control" id="lock-password" name="lock-password">
                                                <label for="lock-password">Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-danger">
                                            <i class="si si-lock-open mr-10"></i> Unlock
                                        </button>
                                        <a class="btn btn-block btn-noborder btn-rounded btn-alt-secondary" href="op_auth_signin.html">
                                            <i class="si si-logout text-muted mr-10"></i> Sign Out
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          div>
        <script src="assets/js/core/jquery.min.js"></script>
        <script src="assets/js/core/popper.min.js"></script>
        <script src="assets/js/core/bootstrap.min.js"></script>
        <script src="assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="assets/js/core/jquery.appear.min.js"></script>
        <script src="assets/js/core/jquery.countTo.min.js"></script>
        <script src="assets/js/core/js.cookie.min.js"></script>
        <script src="assets/js/codebase.js"></script>

        <!-- Page JS Plugins -->
        <script src="assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>

        <!-- Page JS Code -->
        <script src="assets/js/pages/op_auth_lock.js"></script>
    </body>
</html>