<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Oil Care</title>

        <meta name="description" content="utopian.io/@dogancankilment">
        <meta name="author" content="utopian.io/@dogancankilment">
        <meta name="robots" content="noindex, nofollow">

        <meta property="og:title" content="utopian.io/@dogancankilment">
        <meta property="og:site_name" content="utopian.io/@dogancankilment">
        <meta property="og:description" content="utopian.io/@dogancankilment">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <link rel="shortcut icon" href="{{STATIC_URL}}media/index.png">
        <link rel="icon" type="image/png" sizes="192x192" href="{{STATIC_URL}}static/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}static/img/favicons/apple-touch-icon-180x180.png">

        <link rel="stylesheet" id="css-main" href="{{STATIC_URL}}static/css/codebase.min.css">

    </head>
    <body>
        <div id="page-container" class="main-content-boxed">
            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="bg-image" style="background-image: url('static/img/photos/arkafon.jpg');">
                    <div class="hero-static content content-full bg-white-op-90 invisible" data-toggle="appear" data-class="animated fadeIn">
                        <!-- Avatar -->
                        <div class="py-30 px-5 text-center">
                            <a class="link-effect text-pulse font-w700" href="index.html">
                                <span class="font-size-xl text-pulse-dark">Motorc</span><span class="font-size-xl">u</span>
                            </a>
                            <h1 class="h2 font-w700 mt-50 mb-10">Yağ Seçimine Hoşgeldiniz</h1>
                            <h2 class="h4 font-w400 text-muted mb-30">Yaşadığınız şehrin ısı değerini giriniz.
                                <br/>Ben de size hangi değerlerde yağ kullanmanız gerektiğini söyleyeyim.
                            </h2>
                            <p class="font-italic text-black-op">
                                    <span>utopian.io/@dogancankilment</span>
                            </p>
                            <img class="img-avatar img-avatar96" src="{{STATIC_URL}}media/oil-care-logo.jpg" alt="">
                        </div>
                        <!-- END Avatar -->

                        <!-- Unlock Content -->
                        <div class="row justify-content-center px-5">
                            <div class="col-sm-8 col-md-6 col-xl-4">
                                <!-- jQuery Validation (.js-validation-lock class is initialized in js/pages/op_auth_lock.js) -->
                                <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                                <form class="js-validation-lock" action="" method="post">
                                    <div class="form-group row">
                                        <div class="col-12">
                                            <div class="form-material floating">
                                                <input type="text" class="form-control" id="hava" name="hava">
                                                <label for="hava">Hava Sıcaklığı</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-material floating">
                                                <input type="text" class="form-control" id="marka" name="marka">
                                                <label for="marka">Kullanmak İstediğiniz Yağ Markası</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-material floating">
                                                <input type="text" class="form-control" id="sehir" name="sehir">
                                                <label for="sehir">Yaşadığınız Şehir</label>
                                            </div>
                                        </div>
                                        <br><br><br><br>
                                        <div class="col-12">Kullanmakta olduğunuz araç?</div>
                                        <div class="col-12">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="otomobil" name="otomobil">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Otomobil</span>
                                            </label>
                                        </div>
                                        <div class="col-12">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="motosiklet" name="motosiklet">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Motosiklet</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-hero btn-noborder btn-rounded btn-alt-danger">
                                            Hesapla
                                        </button>
                                    </div>
                                    {% csrf_token %}

                                    {% if secim %}
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div class="form-material label">
                                                    <input type="text" class="form-control" id="secim" name="secim" value="{{ secim }}">
                                                    <label for="secim">Doğru Yağ Tercihi</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
          </div>

        <script src="{{STATIC_URL}}static/js/core/jquery.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/popper.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.slimscroll.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.scrollLock.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.appear.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/jquery.countTo.min.js"></script>
        <script src="{{STATIC_URL}}static/js/core/js.cookie.min.js"></script>
        <script src="{{STATIC_URL}}static/js/codebase.js"></script>

        <!-- Page JS Plugins -->
        <script src="{{STATIC_URL}}static/js/plugins/jquery-validation/jquery.validate.min.js"></script>

        <!-- Page JS Code -->
        <script src="{{STATIC_URL}}static/js/pages/op_auth_lock.js"></script>
    </body>
</html>